altair                    
anyio                    
asyncio                 
attrs                    
beautifulsoup4           
blinker                   
cachetools               
certifi                   
chardet                   
charset-normalizer        
click                    
colorama                  
Flask                    
fpdf                      
gitdb                     
GitPython                 
h11                      
httpcore                  
httpx                    
idna                   
itsdangerous            
Jinja2                   
jsonschema               
jsonschema-specifications 
markdown-it-py            
MarkupSafe               
mdurl                     
MouseInfo                 
narwhals                 
numpy                     
packaging                
pandas                   
pillow                   
pip                       
protobuf                  
pyarrow                  
PyAutoGUI                
pydeck                   
PyGetWindow              
Pygments                
PyMsgBox                
pyperclip                
PyRect                    
PyScreeze                
python-dateutil           
python-telegram-bot      
pytweening                
pytz                      
pywhatkit                 
referencing               
reportlab                 
requests                  
rich                     
rpds-py                   
six                       
smmap                     
sniffio                   
soupsieve                 
streamlit                
tenacity                  
toml                      
tornado                  
typing_extensions         
tzdata                    
urllib3                   
watchdog                 
Werkzeug                  3.1.3
wikipedia                 1.4.0
